{
  "extends": 
  [ 
    "eslint:recommended",
    "google"
  ],
  "plugins":
  [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "env": 
  {
    "browser": true
  },
  "rules": 
  {   
    "no-trailing-spaces": "off",
    "brace-style": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/brace-style":
    [
      "error",
      "allman",
      { "allowSingleLine": true }
    ],
    "valid-jsdoc": 
    [
      "error",
      { 
        "requireReturnType": false,
        "requireParamType": false 
      }
    ],
    "padded-blocks": "off",
    "indent":
    [
      "error",
      2,
      {
        "FunctionDeclaration":
        {
          "body": 1
        }
      }
    ],
    "block-spacing": [ "error", "always" ]
  }
}